.u-section-1 .u-sheet-1 {
  min-height: 440px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 75px auto 75px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 766px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.125rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 45px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-style: normal;
  text-transform: uppercase;
  margin: 45px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 766px;
  background-image: none;
}

.u-section-1 .u-image-1 {
  height: 592px;
  width: 592px;
  background-image: url("images/cellbg2.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-image-2 {
  width: 480px;
  height: 480px;
  background-image: url("images/robot2.jpg");
  background-position: 50% 50%;
  margin: -516px auto 36px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 533px;
  }

  .u-section-1 .u-image-1 {
    height: 488px;
    width: 488px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-2 {
    width: 396px;
    height: 396px;
    margin-top: -432px;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 374px;
    width: 374px;
    margin-left: 13px;
  }

  .u-section-1 .u-image-2 {
    width: 303px;
    height: 303px;
    margin-top: -339px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 350px;
    width: 350px;
    margin-left: 9px;
  }

  .u-section-1 .u-image-2 {
    width: 284px;
    height: 284px;
    margin-top: -320px;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 334px;
    width: 334px;
    margin-left: 6px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 6px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1015px;
}

.u-section-2 .u-text-1 {
  width: 762px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 647px;
  margin: 30px auto 0;
}

.u-section-2 .u-list-1 {
  min-height: 1320px;
  margin: 43px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  grid-auto-rows: calc(25% - 22.5px);
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-2 .u-text-12 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-13 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-2 .u-text-14 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-7 {
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-icon-7 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-15 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-2 .u-text-16 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-8 {
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-icon-8 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-17 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-2 .u-text-18 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-9 {
  background-image: none;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-icon-9 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-19 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-2 .u-text-20 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-10 {
  background-image: none;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-icon-10 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-21 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-2 .u-text-22 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-11 {
  background-image: none;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-icon-11 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-23 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-text-24 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-12 {
  background-image: none;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-icon-12 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-25 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 35px 0 0;
}

.u-section-2 .u-text-26 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  margin: 30px auto 60px;
  padding: 10px 45px 10px 44px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1088px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    grid-auto-rows: calc(50% - 15px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1286px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    min-height: 915px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    grid-auto-rows: calc(33.33% - 20px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3116px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(16.66% - 25px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2099px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 20px;
    padding-right: 20px;
  }
}